extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Luis Walderdorff

        p.lead.text-light
          | Front-End and Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Hi! My name is Luis and I'm a front-end developer, who recently finished a degree in front-end web development at Treehouse and is currently a Full Stack JavaScript Techdegree student at Treehouse. I study Cultural Anthropology at the Goethe University in Frankfurt and learn how to code in my free time. My skills right now include: HTML5, CSS, SASS, JavaScript and JQuery.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li Sass
          li Mobile First Design
          li JavaScript Event Handlers
          li Object Oriented JavaScript
          li Regex
          li Handling API Requests
          li Node.js
          li Express
        h6 Contact Info

        ul
          li walderdorff.luis@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/luis-walderdorff-564650163/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/luiswalderdorff' target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
